:export {
  headerHeight: $sticky-header-height;
}

.standard {
  font-weight: bold;
  margin: 0.75rem 0;
  scroll-margin: calc($spacing-5 + $sticky-header-height);

  & a {
    color: get-color('foreground') !important;
    text-decoration: none !important;
    text-shadow: none !important;

    &:hover {
      text-decoration: underline !important;
      text-decoration-color: get-color('outline') !important;
    }
  }

  &:hover {
    &::after {
      content: '';
      color: get-color('outline');
      margin-left: $spacing-2;
      font-size: 0.85em;
    }
  }
}

.H1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.H2 {
  font-size: 2.275rem;
}

.H3 {
  font-size: 1.875rem;
}

@include apply-lesser-than('sm') {
  .H1 {
    font-size: 2.25rem;
  }

  .H2 {
    font-size: 2rem;
  }

  .H3 {
    font-size: 1.75rem;
  }
}
