@use 'sass:color';
$code-font-size: 0.775rem;
$border-style: 1px solid color.adjust($color-gray-1, $alpha: -0.5);

.code {
  -webkit-text-size-adjust: none;
  padding: 0.15rem $spacing-1;
  border-radius: 5px;
  background-color: color.adjust($color-foreground, $alpha: -0.9);
  font-family: 'SF Mono', monospace !important;
  font-size: $code-font-size;
}

.prettyCodeContainer {
  background-color: $color-code-bg;
  padding: 0;
  border-radius: $border-radius-sm;
  overflow: hidden;
  border: $border-style;
}

.codeWrapper {
  position: relative;
  line-height: 1.5;
  border-radius: 0;
  background-color: unset;
  overflow-x: auto;
  padding: $spacing-4;
}

.infoBar {
  border-top: $border-style;
  font-size: $code-font-size;
  color: $color-gray-6;
  user-select: none;

  & p {
    margin: 0 !important;
  }

  & > * {
    padding: 0.475rem;
    border-left: $border-style !important;
  }
}

.copyButton {
  border: none;
  background-color: unset;
  color: $color-gray-6;
  transition: background-color 75ms linear;

  &:hover {
    cursor: pointer;
    background-color: color.adjust($color-gray-6, $alpha: -0.9);
  }
}

@include apply-lesser-than('sm') {
  .codeWrapper {
    padding: $spacing-3;
    line-height: 1.75;
  }
}
