.tableOfContents {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: $grid-spacing;
  line-height: 1.475;

  & h2 {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    margin: 0;
  }

  & ul {
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  & li {
    color: #8c8c8c;
    transition: color 100ms ease-in-out;
  }
}

.h2 {
  font-size: 1em;
}

.h3 {
  margin-left: 0.5rem;
  font-size: 0.875em;
}

.h4 {
  margin-left: 0.75rem;
  font-size: 0.75em;
}

.currentSection {
  text-decoration: underline;
  color: rgb(31, 31, 31) !important;
}

@include apply-lesser-than('md') {
  .tableOfContents {
    display: none;
  }
}
