.footer {
  border-top: 1px solid get-color('gray-3');
  grid-row: footer;
  grid-column: left-side / end;
  margin: 0px calc(-1 * $spacing-4);
  padding: $spacing-6;
  background-color: get-color('gray-5', 0.25);
}

.footerContent {
  margin: auto;
  width: min(100%, $content-width);
}

.spaceBetween {
  justify-content: space-between;
  align-items: center;
}

.aboutMeEnd {
  max-width: 25rem;
}

.imageWrapper {
  flex-shrink: 0;
  border-radius: $border-radius-md;
  overflow: hidden;
  border: 1px solid get-color('foreground');
  height: 100px;
  aspect-ratio: 1 / 1;
  position: relative;

  & > img {
    object-fit: cover;
    image-rendering: pixelated;
  }
}

.linkList {
  flex-shrink: 0;
}

.copyRight {
  &::after {
    content: ' • Another Dev Blog';
  }
}

@include apply-lesser-than('sm') {
  .footer {
    grid-column: middle;
  }

  .aboutMeEnd {
    flex-direction: column;
  }

  .imageWrapper {
    display: none;
  }

  .copyRight {
    &::after {
      content: '';
    }
  }
}
