@use 'sass:color';

.header {
  grid-column: middle;
  grid-row: header;
  display: flex;
}

.bar {
  padding-top: $spacing-7;

  & img {
    image-rendering: crisp-edges;
    height: 80px;
    width: auto;
    aspect-ratio: 2000 / 836;
  }
}

.stickyBarWrapper {
  position: fixed;
  left: 0;
  background-color: color.adjust($color-background, $alpha: -0.15);
  backdrop-filter: blur(1em);
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid $color-outline;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $color-foreground;
}

.stickyBarScroll {
  height: 1px;
  background: $color-blue;
  transition: width 50ms ease-out;
}

.stickyBarContent {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  white-space: nowrap;
  gap: $spacing-5;
  padding: $spacing-5;

  & h5 {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@include apply-lesser-than('sm') {
  .header {
    justify-content: center;
  }

  .bar {
    padding: $spacing-4 0;
    & img {
      height: 60px;
    }
  }
}
