@use 'sass:color';

$sticky-bar-padding: $spacing-5;
$scroll-color: get-color('blue');

.header {
  grid-column: middle;
  grid-row: header;
}

.staticBar {
  padding-top: $spacing-7;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  & img {
    height: 80px;
    width: auto;
    aspect-ratio: 2000 / 836;
  }
}

.stickyBarWrapper {
  position: fixed;
  left: 0;
  background-color: get-color('background');
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid get-color('outline');
  justify-content: space-between;
  color: get-color('foreground');

  @supports (backdrop-filter: blur(1em)) {
    background-color: get-color('background', 0.725);
    backdrop-filter: blur(1em);
  }
}

.stickyBarScroll {
  height: 1px;
  background: $scroll-color;
  transition: width 50ms ease-out;
}

.stickyBarContent {
  position: relative;
  align-items: baseline;
  justify-content: space-between;
  white-space: nowrap;
  padding: $sticky-bar-padding 0;

  width: calc($content-width + 2 * ($sidebar-width + $grid-spacing));
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;

  & h5 {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@include apply-lesser-than('md') {
  .stickyBarContent {
    width: min(100%, calc($content-width + 2 * $sticky-bar-padding));
    padding: $sticky-bar-padding;
    box-sizing: border-box;
  }
}

@include apply-lesser-than('sm') {
  .staticBar {
    padding: $spacing-4 0;
    padding-bottom: 0;
    & img {
      height: 60px;
    }
  }
}
