@use 'sass:color';

.aboutMe {
  width: 100%;
  align-items: center;

  & h1 {
    font-weight: normal;
    font-size: 2rem;
  }

  & p {
    line-height: 1.475;
  }
}

.helloContent {
  flex-shrink: 2;

  & * {
    margin: 0;
  }
}

.imageWrapper {
  flex-shrink: 0;
  border-radius: $border-radius-lg;
  overflow: hidden;
  border: 3px solid get-color('foreground');
  height: 200px;
  aspect-ratio: 1 / 1;
  position: relative;

  & > img {
    object-fit: cover;
    image-rendering: pixelated;
  }
}

@include apply-lesser-than('sm') {
  .imageWrapper {
    height: 125px;
  }

  .socials {
    justify-content: center;
  }
}
