@use 'sass:color';

:export {
  headerHeight: $sticky-header-height;
}

.tableOfContents {
  line-height: 1.475;

  & h2 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }

  & ul {
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  & li {
    color: get-color('gray-1');
    margin: 0;
    transition: color 100ms ease-in-out;
  }
}

.linkItem {
  text-decoration: none;
}

.h2 {
  font-size: 1rem;
}

.h3 {
  margin-left: 0.5rem !important;
  font-size: 0.875em;
}

.h4 {
  margin-left: 0.75rem;
  font-size: 0.75em;
}

.currentSection {
  text-decoration: underline;
  color: get-color('gray-0') !important;
}

@include apply-lesser-than('md') {
  .tableOfContents {
    display: none;
  }
}
