@use 'sass:color';
$code-font-size: 0.775rem;
$border-style: 1px solid get-color('gray-1', 0.5);

.code {
  padding: 0.15rem $spacing-1;
  border-radius: 5px;
  background-color: get-color('foreground', 0.1);
  font-family: 'SF Mono', monospace !important;
  font-size: $code-font-size;
  border: $border-style;
}

.prettyCodeContainer {
  background-color: get-color('code-bg');
  padding: 0;
  border-radius: $border-radius-sm;
  overflow: hidden;
  border: $border-style;
  color-scheme: dark;
}

.codeWrapper {
  position: relative;
  line-height: 1.5;
  border-radius: 0;
  background-color: unset;
  overflow-x: auto;
  padding: $spacing-4;
  border: none;
}

.infoBar {
  border-top: $border-style;
  font-size: $code-font-size;
  color: get-color('white');
  user-select: none;

  & p {
    margin: 0 !important;
  }

  & > * {
    padding: 0.475rem;
    border-left: $border-style !important;
  }
}

.copyButton {
  border: none;
  background-color: unset;
  color: get-color('white');
  transition: background-color 75ms ease-out;

  &:hover {
    cursor: pointer;
    background-color: get-color('white', 0.1);
  }
}

@include apply-lesser-than('sm') {
  .codeWrapper {
    padding: $spacing-3;
    line-height: 1.75;
  }
}
