.articleTags {
  display: flex;
  flex-direction: row;
  gap: 0.33rem;
  margin-bottom: 1rem;

  & > p {
    margin: 0;
    width: fit-content;
    height: fit-content;
    font-size: 0.75rem;
    font-weight: 300;
    @include gradient-button(rgb(210, 210, 210), 0.5rem, 0rem);
  }
}
