.wrapper {
  height: 15rem;
  margin-bottom: 2rem;

  &:hover {
    text-decoration: none;
  }
}

.excerpt {
  padding: $corner-padding;
  padding-bottom: 0;
  margin-bottom: auto;
  overflow: hidden;
  border-radius: inherit;
  user-select: none;
  mask-image: -webkit-gradient(
    linear,
    left 25%,
    left bottom,
    from(rgba(255, 255, 255, 1)),
    to(rgba(0, 0, 0, 0))
  );

  & > h1 {
    font-size: 2.25rem !important;
    margin: auto;
    margin-bottom: 1rem !important;
    font-weight: bold;
    color: black;
  }
}

.tagsContainer {
  padding-right: $corner-padding;
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  pointer-events: none;
  gap: 0.33rem;
  z-index: 3;
  margin-bottom: $corner-padding;

  // individual tag
  & > p {
    @include gradient-button(rgb(210, 210, 210));
    font-size: 0.75rem;
    font-weight: 300;
  }
}
