.postWrapper {
  z-index: 0;
}

.postContent {
  & p {
    margin-bottom: 1rem;
    line-height: 1.65;
  }
}

.postSection {
  margin-bottom: $spacing-8;
}

// remove window styling on small screens
@include apply-lesser-than('sm') {
  .postWrapper {
    border: 0;

    & > div:first-child {
      display: none;
    }

    & > div:last-child {
      padding: 0 !important;
    }
  }
}
