@mixin apply-lesser-than($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: inspect(map-get($breakpoints, $breakpoint))) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin apply-greater-than($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: inspect(map-get($breakpoints, $breakpoint))) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin create-utility-class($map, $property) {
  @each $key, $value in $map {
    &-#{$key} {
      #{$property}: $value;
    }
  }
}

@mixin item-glow(
  $size: 20px,
  $color: get-color('foreground', 0.75),
  $type: 'box-shadow'
) {
  #{$type}: 0px 0px $size $color;
}

@mixin scrollbar-shift {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

@mixin is-mobile {
  @media (pointer: none), (pointer: coarse) {
    @content;
  }
}
