// color tokens
$color-background: white;
$color-foreground: black;
$color-outline: rgb(149, 149, 149);
$color-close: rgb(248, 92, 90);
$color-minimize: rgb(247, 193, 51);
$color-maximize: rgb(25, 205, 68);
$color-bar: rgb(235, 235, 235);
$color-code-bg: #171616;
$color-shadow: rgba(0, 0, 0, 0.275);

$color-red: rgb(255, 59, 48);
$color-orange: rgb(255, 149, 0);
$color-yellow: rgb(255, 204, 0);
$color-green: rgb(40, 205, 65);
$color-mint: rgb(0, 199, 190);
$color-teal: rgb(89, 173, 196);
$color-cyan: rgb(85, 190, 240);
$color-blue: rgb(0, 122, 255);
$color-indigo: rgb(88, 86, 214);
$color-purple: rgb(175, 82, 222);
$color-pink: rgb(255, 45, 85);
$color-brown: rgb(162, 132, 92);
$color-white: white;
$color-black: black;

$color-gray-1: rgb(142, 142, 147);
$color-gray-2: rgb(174, 174, 178);
$color-gray-3: rgb(199, 199, 204);
$color-gray-4: rgb(209, 209, 214);
$color-gray-5: rgb(229, 229, 234);
$color-gray-6: rgb(242, 242, 247);

$color-rainbow: linear-gradient(
  90deg,
  rgba(255, 0, 0, 1) 0%,
  rgba(255, 154, 0, 1) 10%,
  rgba(208, 222, 33, 1) 20%,
  rgba(79, 220, 74, 1) 30%,
  rgba(63, 218, 216, 1) 40%,
  rgba(47, 201, 226, 1) 50%,
  rgba(28, 127, 238, 1) 60%,
  rgba(95, 21, 242, 1) 70%,
  rgba(186, 12, 248, 1) 80%,
  rgba(251, 7, 217, 1) 90%,
  rgba(255, 0, 0, 1) 100%
);

// sizing tokens
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 0.875rem;
$spacing-5: 1rem;
$spacing-6: 1.5rem;
$spacing-7: 1.875rem;
$spacing-8: 2rem;

// sizing tokens
$grid-spacing: $spacing-7;
$content-width: 700px;
$sidebar-width: 250px;
$sticky-header-height: 60px;

$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-lg: 15px;

// breakpoints
$breakpoints: (
  'sm': 600px,
  'md': calc($content-width + 2 * ($sidebar-width + 2 * $grid-spacing)),
  'lg': 2000px
) !default;
