@use 'fonts';
@use 'reset';
@use 'sass:meta';

@include provide-theme-tokens();

html,
body {
  font-family: San Francisco, Apple Color Emoji, -apple-system, sans-serif;
}

html {
  --scroll-behavior: smooth !important;
  width: 100%;
  font-size: 17px;
  overflow-x: hidden;
}

body {
  --theme: 'light';
  padding: 0 $spacing-4;
  background-color: get-color('background');
  color: get-color('foreground');
  // @include scrollbar-shift;
}

#__next {
  display: grid;
  gap: $grid-spacing;
  min-height: 100vh;

  grid-template-rows: [header] auto [content] auto [footer] auto;
  grid-template-columns:
    [left-side] 1fr [middle] min(100%, $content-width)
    [right-side] 1fr [end];
  justify-content: center;
}

.sticky-header-enter {
  top: -$sticky-header-height;
}
.sticky-header-enter-active {
  top: 0;
  transition: top 100ms;
}
.sticky-header-exit {
  top: 0;
}
.sticky-header-exit-active {
  top: -$sticky-header-height;
  transition: top 100ms;
}

@include apply-lesser-than('md') {
  #__next {
    column-gap: 0;
  }
}
