@use 'sass:color';

.postCard {
  z-index: 2;
  position: relative;
  transition: box-shadow 150ms ease-out, transform 100ms ease-out;

  &:hover {
    z-index: 1;
    text-decoration: none;
    @include item-glow(50px, get-color('foreground', 0.475));
  }

  &:active {
    transform: scale(1.025);
  }
}

.postCardContent {
  line-height: 1.5;
  position: relative;
  padding: $spacing-5;
  box-sizing: content-box;
  height: 10rem;
  mask-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 15%,
    rgba(255, 255, 255, 1) 100%
  );

  & h2 {
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1;
    margin-bottom: $spacing-4;
  }

  & p {
    margin: 0;
  }
}

.tagStack {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.horizontalStack {
  justify-content: flex-end;
  flex-wrap: nowrap;

  & > div {
    flex-shrink: 0;
  }
}

@include apply-lesser-than('sm') {
  .tagStack {
    flex-direction: column;
  }

  .postCardContent {
    padding: $spacing-3;
    height: 8rem;

    & h2 {
      font-size: 1.75rem;
      margin-bottom: $spacing-2;
    }
  }
}
