.footer {
  box-sizing: border-box;
  grid-row: footer;
  grid-column: middle;
  height: 10rem;
  margin-bottom: 1rem;
  isolation: isolate;

  & div:last-child {
    padding: 0;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.footerVideo {
  width: 105%;
  position: absolute;
  top: 0;
  left: -2.5%;
  user-select: none;
  object-fit: cover;
  image-rendering: pixelated;
  filter: saturate(1.75);
}

.footerContent {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  & > h1 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  & > h2 {
    font-size: 1.25rem;
    font-weight: bold;

    & > a {
      text-decoration: underline;
      transition: text-shadow 150ms ease-in-out;

      &:hover {
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.875);
      }
    }
  }
}
