.header {
  grid-column: middle;
  grid-row: header;

  display: flex;
  justify-content: left;
  margin: 1rem 0;
}

@include apply-lesser-than('sm') {
  .header {
    justify-content: center;
    margin: 0.5rem 0;
  }
}
