.left,
.right {
  grid-row: content;
  height: min-content;
}

.left {
  grid-column: left-side;
}

.right {
  grid-column: right-side;
}

@include apply-lesser-than('md') {
  .left,
  .right {
    display: none !important;
  }
}
