.aboutMeWrapper {
  grid-row: content;
  grid-column: middle;
}

.employment {
  margin: 1rem 0;

  & p:nth-child(2) {
    color: rgb(137, 137, 137);
    margin: 0.25rem 0;
  }
}

.aboutMeContent {
  & h2 {
    color: black;
  }

  & p {
    margin: 0.875rem 0;
  }
}
