.left,
.right {
  grid-row: content;
  height: min-content;
  width: $sidebar-width;
  position: sticky;
  top: calc($grid-spacing + $sticky-header-height);
}

.left {
  grid-column: left-side;
  margin-right: 0;
  margin-left: auto;
}

.right {
  grid-column: right-side;
}

@include apply-lesser-than('md') {
  .left,
  .right {
    display: none !important;
  }
}
