.relatedArticles {
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  p {
    font-size: 0.85rem;
    color: get-color('gray-1');
  }
}

.linkItem {
  text-decoration: none;
}

.relatedArticle {
  padding: 0.75rem;
  border-radius: $border-radius-md;
  border: 1px solid get-color('outline');

  & p {
    margin: 0;
  }

  & h2 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.175;
    margin-bottom: 0.25rem;
  }
}

.horizontalStack {
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
