.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  scroll-margin: 1rem;

  & > a {
    color: rgb(24, 24, 24);
    &:hover {
      &::after {
        content: ' #';
        color: rgb(133, 133, 133);
      }
    }
  }
}

.h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
  pointer-events: none;
}

.h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

@include apply-greater-than('sm') {
  .h1 {
    font-size: 3rem;
  }
}
