.blog-header {
    margin: 0 auto;
    width: inherit;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 99;
    // background: linear-gradient(white 0%, white 50%, transparent 100%);
    background-color: white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    box-sizing: content-box;
    transform: translateX(-10px);
    z-index: 1;
    backdrop-filter: blur(1px);
  
    & img {
      height: 100px !important;
      aspect-ratio: 2000 / 836;
    }
  
    &:hover {
      cursor: pointer;
    }
}

.blog-header__article-info {
  position: sticky;
  top: 133px;
  display: flex;
  flex-flow: row;
  background-color: white;
  align-items: center;
  gap: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(186, 186, 186);

  & > h2 {
    margin: 0;
  }
}

.blog-header__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 45px;
  margin-bottom: 20px;
}

.blog-header__tags {
  height: fit-content;
  display: flex;
  gap: 5px;
  z-index: 2;
}