.blog-header {
    margin: 15px auto;
    width: min(700px, 100vw);
    padding: 0 25px;
  
    & img {
      height: 100px !important;
      aspect-ratio: 2000 / 836;
    }
  
    &:hover {
      cursor: pointer;
    }
  }