.standard {
  font-weight: bold;
  margin: 0.5rem 0;

  &:hover {
    &::after {
      content: '🔗';
      margin-left: 0.5rem;
    }
  }
}

// TODO: add breakpoint sizings
.H1 {
  font-size: 2.75rem;
  margin-bottom: 1rem;
  margin-top: 0;
}

.H2 {
  font-size: 1.875rem;
}

.H3 {
  font-size: 1.65rem;
}
