.prettyCode {
  position: relative;
}

// TODO add hover effects

.copyButton {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  font-size: 0.875rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
  color: white;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.333);
  border-radius: 5px;
}
