.windowWrapper {
  border: 1px solid $color-outline;
  overflow: hidden;
  border-radius: 8px;
  background-color: $color-background;
}

.windowContent {
  padding: 1.275rem;
}

.topBar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  background-color: $color-bar;
  font-size: 0.85rem;
  width: inherit;
  padding: 0.475rem;
  height: auto;
  border-bottom: 1px solid $color-outline;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.125) 0%,
      rgba(0, 0, 0, 0.05) 100%
    );
  }

  .buttonContainer {
    display: flex;
    position: absolute;
    left: 0.5rem;
    gap: 0.275rem;

    & > div {
      width: 11px;
      height: 11px;
      border-radius: 100%;
      border: 1px solid rgba(0, 0, 0, 0.25);

      &:first-child {
        background-color: $color-close;
      }

      &:nth-child(2) {
        background-color: $color-minimize;
      }

      &:nth-child(3) {
        background-color: $color-maximize;
      }
    }
  }
}
