.flexContainer {
  display: flex;
  flex-direction: row;
  gap: $spacing-5;
  justify-content: space-around;
  align-items: center;
  margin: $spacing-8 0;

  & > * {
    box-sizing: content-box;
  }
}

@include apply-lesser-than('sm') {
  .flexContainer {
    flex-direction: column;
  }
}
