$border-style: 1px solid get-color('outline');
$button-size: 10px;

.windowWrapper {
  border: $border-style;
  overflow: hidden;
  border-radius: $border-radius-sm;
  background-color: get-color('background');
}

.topBar {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-align: center;
  background-color: get-color('gray-5');
  font-size: 0.725rem;
  width: inherit;
  padding: 0.375rem;
  height: auto;
  border-bottom: $border-style;

  & p {
    max-width: calc(100% - (2 * 5 * ($button-size)));
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.125) 0%,
      rgba(0, 0, 0, 0.05) 100%
    );
  }

  .buttonContainer {
    position: absolute;
    left: 0.5rem;

    & > div {
      width: $button-size;
      height: $button-size;
      border-radius: 100%;
      border: 1px solid rgba(0, 0, 0, 0.25);

      &:first-child {
        background-color: get-color('red');
      }

      &:nth-child(2) {
        background-color: get-color('yellow');
      }

      &:nth-child(3) {
        background-color: get-color('green');
      }
    }
  }
}
