// San Francisco fonts
@font-face {
  font-family: 'San Francisco';
  src: url(/fonts/SanFrancisco/woff2/SF-Pro-Display-Light.woff2) format('woff2');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'San Francisco';
  src: url(/fonts/SanFrancisco/woff2/SF-Pro-Display-Regular.woff2)
    format('woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'San Francisco';
  src: url(/fonts/SanFrancisco/woff2/SF-Pro-Display-Bold.woff2) format('woff2');
  font-display: swap;
  font-weight: bold;
}

// Apple Color Emojis
// @font-face {
//   font-family: 'Apple Color Emoji';
//   src: url(/fonts/AppleColorEmoji.ttf) format('truetype');
//   font-display: swap;
//   size-adjust: 85%;
// }

// JetBrains Monospace
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
