@font-face {
	font-family: 'AppleGaramond';
	src: url(/fonts/AppleGaramond/AppleGaramond.ttf);
	font-display: swap;
}

// San Francisco fonts
@font-face {
	font-family: 'San Francisco';
	src: url(/fonts/SanFrancisco/SF-Pro-Display-Light.otf) format('opentype');
	font-display: swap;
    font-weight: 300;
}

@font-face {
	font-family: 'San Francisco';
	src: url(/fonts/SanFrancisco/SF-Pro-Display-Regular.otf) format('opentype');
	font-display: swap;
    font-weight: 400;
}

@font-face {
	font-family: 'San Francisco';
	src: url(/fonts/SanFrancisco/SF-Pro-Display-Medium.otf) format('opentype');
	font-display: swap;
    font-weight: 500;
}

@font-face {
	font-family: 'San Francisco';
	src: url(/fonts/SanFrancisco/SF-Pro-Display-Semibold.otf) format('opentype');
	font-display: swap;
    font-weight: 600;
}

@font-face {
	font-family: 'San Francisco';
	src: url(/fonts/SanFrancisco/SF-Pro-Display-Bold.otf) format('opentype');
	font-display: swap;
    font-weight: bold;
}