@use 'wrapper.scss';
@use 'fonts.scss';

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(255, 255, 255);
  min-height: 100%;
}

html {
  overflow: overlay;
}

body {
  width: min(700px, 100%);
  padding: 0 25px,
}

#__next {
  width: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: inherit;
}

main {
  margin-bottom: 30px;
}

// @include large-width {
//   body {
//     width: 1000px;
//   }
// }
