@use 'wrapper.scss';
@use 'fonts.scss';

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;
  min-height: 100%;
  overflow: overlay;
}

#__next {
  width: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: inherit;
}

main {
  margin-bottom: 30px;
}