@import "fonts";
@import "wrapper";

html,
body {
  padding: 0;
  margin: 0;
  font-family: San Francisco, -apple-system, sans-serif;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  // overflow: overlay;
  background-color: rgb(250, 250, 250);
}

#__next {
  margin: auto;
  width: min($max-content-width, 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@include apply-greater-than("sm") {
  html {
    font-size: calc(1.15 * 16px);
  }
}

@include apply-greater-than("lg") {
  html {
    font-size: calc(1.25 * 16px);
  }
}

@include apply-greater-than("xl") {
  html {
    font-size: calc(1.5 * 16px);
  }
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
