.home__tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 15px 0;

    & > button {
        font-size: 16px;
        border: 2px solid transparent;
        @include tag-button;

        &:hover {
            cursor: pointer;
        }
    }
}